html, body {
  height: 100%;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.ui.borderless {
  box-shadow: none !important;
}

.ui.glued {
	margin-top: -10px !important;
}

.no-margin-top {
	margin-top: 0px !important;
}

#map-time,
i.time.icon {
  font-size: 2em;
}
